.ForgotPage {
	padding: 65px 40px;
	background: #fff;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 8px;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.logo {
			margin-bottom: 45px;
			width: 180px;
			height: 28px;
		}

		.input {
			margin-bottom: 15px;
		}

		.links {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			.link {
				color: #1890ff;
				text-decoration: none;
				font-size: 14px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
