.ResetPasswordPage {
	padding: 65px 40px;

	background: #fff;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 8px;

	width: 100%;
	max-width: 450px;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.logo {
			margin-bottom: 45px;
			width: 180px;
			height: 28px;
		}

		.input {
			margin-bottom: 15px;
		}
	}
}
