.ResetPasswordPage {
	padding: 65px 40px;

	background: #fff;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 8px;
	.content {
		display: flex;
		gap: 25px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.texts {
			display: flex;
			gap: 8px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.pin_input {
		}
	}
}
