.Header {
	padding-block: 14px;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.auth {
			display: flex;
			gap: 20px;
			justify-content: center;
			align-items: center;
			button {
				padding: 8px 20px;
			}
			.sign_in {
				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
				letter-spacing: -0.25px;
				color: rgb(93, 93, 255);
			}
			.sign_up {
				border-radius: 2px;
				box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
				background: rgb(93, 93, 255);

				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
				letter-spacing: -0.25px;
				color: rgb(255, 255, 255);
			}
		}
	}
}
